In [61]:
import numpy as np
import pandas as pd
df = pd.read_excel("tab_dinamica_TCA.xlsx", engine='openpyxl')

total_n_Lic = np.sum(df['n_de_Imoveis_com_Licencimento'])
total_tca = np.sum(df['TCA'])
total_AreaImovel = round(np.sum(df['AreaImovel']),2)
total_AR_RL = round(np.sum(df['AR_RL']),2)
total_AR_APP = round(np.sum(df['AR_APP']),2)

['TOTAL', 280, 364, 744111.28, 20060.62, 12264.65]

In [63]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
df = pd.read_excel("tab_dinamica_TCA.xlsx", engine='openpyxl')
df = df.append({'RegInt': 'Total','n_de_Imoveis_com_Licencimento': total_n_Lic, 
               'TCA': total_tca, 'AreaImovel': total_AreaImovel,
               'AR_RL': total_AR_RL, 'AR_APP': total_AR_APP }, ignore_index=True)
display(df)

,RegInt,n_de_Imoveis_com_Licencimento,TCA,AreaImovel,AR_RL,AR_APP
0,ARAGUAIA,24,40,"264,847.64","1,760.97","4,166.44"
1,BAIXO AMAZONAS,37,42,"23,843.03",675.81,116.77
2,CARAJÁS,10,16,"6,251.64",201.82,"1,018.62"
3,GUAMÁ,4,4,"1,583.45",69.97,12.30
4,LAGO DE TUCURUÍ,7,12,"50,671.63","2,862.68",603.34
5,MARAJÓ,1,1,"2,189.29",0.00,0.00
6,RIO CAPIM,53,74,"214,361.99","10,479.77","2,842.77"
7,TAPAJÓS,34,42,"34,330.02",324.88,494.43
8,TOCANTINS,13,18,"55,591.01","1,819.64",857.80
9,XINGU,97,115,"90,441.58","1,865.07","2,152.19"
10,Total,280,364,"744,111.28","20,060.62","12,264.65"

In [34]:
df = df.round({"n_de_Imoveis_com_Licencimento":0, "TCA":0, "AreaImovel":2, "AR_RL":2, "AR_APP":2})
display(df)

,RegInt,n_de_Imoveis_com_Licencimento,TCA,AreaImovel,AR_RL,AR_APP
0,ARAGUAIA,24,40,"$264,847.64","$1,760.97","$4,166.44"
1,BAIXO AMAZONAS,37,42,"$23,843.03",$675.81,$116.77
2,CARAJÁS,10,16,"$6,251.64",$201.82,"$1,018.62"
3,GUAMÁ,4,4,"$1,583.45",$69.97,$12.30
4,LAGO DE TUCURUÍ,7,12,"$50,671.63","$2,862.68",$603.34
5,MARAJÓ,1,1,"$2,189.29",$0.00,$0.00
6,RIO CAPIM,53,74,"$214,361.99","$10,479.77","$2,842.77"
7,TAPAJÓS,34,42,"$34,330.02",$324.88,$494.43
8,TOCANTINS,13,18,"$55,591.01","$1,819.64",$857.80
9,XINGU,97,115,"$90,441.58","$1,865.07","$2,152.19"